.payment {
  padding: 10px 20px 50px 20px;
  &__upper {
    display: flex;
    width: 100%;
    overflow: auto;
    margin-bottom: 10px;
    border-bottom: 5px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: #273D8A;
    padding-bottom: 18px;

    button {
      white-space: nowrap;
      margin: 0px 10px;
    }
  }
  h5{
    padding: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    //display: flex;
    //align-items: center;
    color: #293661;
  }
  form{
    .patient-suggestions-container{
        position: relative;
        .suggestions-patients{
            position: absolute;
            z-index: 10;
            background: #FFFFFF;
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            width: 100%;
            padding: 10px;
            top: 35px;
        }
        .suggestion-patient{
            padding: 5px;
        }
        .suggestion-patient:hover{
            background: #141f45c7;
            color: white; 
        }
    }
    button{
        margin: 20px 0px;
        width: 100%;
    }
    label{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #6C7B8A;
        //display: inline-block;
        margin-bottom: 0.5rem;
    }
    .form-control{
        margin-bottom: 20px;
        background: #FFFFFF;
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }
    .input-group{
        .input-group-prepend{
            display: block;
        }
    }
  }
}

// handle desktop view
@media(min-width: 768px) {
  .payment {
    padding: 20px 0px 0px 0px;
    &__upper {
      padding-left: 15px;
      border: 0px;
    }
  }
}