.record {
  padding: 10px 20px 50px 20px;
  h5{
      padding: 20px;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      //display: flex;
      //align-items: center;
      color: #293661;
  }
  form{
      .patient-suggestions-container{
          position: relative;
          .close{
              margin: 0px !important;
              width: 0px !important;
              position: absolute;
              top: 7px;
              left: 77vw;
          }
          .suggestions-patients{
              position: absolute;
              z-index: 10;
              background: #FFFFFF;
              box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
              border-radius: 5px;
              width: 100%;
              padding: 10px;
              top: 35px;
          }
          .suggestion-patient{
              padding: 5px;
          }
          .suggestion-patient:hover{
              background: #141f45c7;
              color: white; 
          }
      }
      button{
          margin: 20px 0px;
          width: 100%;
      }
      label{
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          color: #6C7B8A;
          //display: inline-block;
          margin-bottom: 0.5rem;
      }
      .form-control{
          margin-bottom: 20px;
          background: #FFFFFF;
          box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
          border-radius: 5px;
      }
      .input-group{
          .input-group-prepend{
              display: block;
          }
      }
  }
}
