.create-desktop {
  padding: 30px 5vw;
  .form-label,h5 {
    font-weight: bold;
    font-size: 18px;
    color: #6C7B8A;
  }
  .form-label {
    margin-top: 15px;
  }
  .form-control {
    background: #FFFFFF;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  .input-group {
    & .justify-content {
      justify-content: space-between;
    }
  }

  &__submit {
    margin-top: 25px;
    width: 100%;
    button {
      width: 100%;
    }
  }

  .patient-suggestions-container {
    position: relative;
    .close{
      margin: 0px !important;
      width: 0px !important;
      position: absolute;
      top: 7px;
      left: 60vw;
    }
    .suggestions-patients{
      position: absolute;
      z-index: 10;
      background: #FFFFFF;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      width: 100%;
      padding: 10px;
      top: 35px;
      .suggestion-patient {
        padding: 5px;
        &:hover {
          cursor: pointer;
          background: grey;
          color: white;
        }
      }
    }
  }
}