// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: Roboto-Normal;
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components

@import './components/layouts/layout';
@import './components/dashboard/dashboard';

@import './components/modals/new-payments';
@import './components/modals/new-appointments';
@import './components/modals/new-patient';
@import './components/modals/new-record';

@import './components/views/record';
@import './components/views/payment';
@import './components/views/patient';

@import './components/new/create';
@import './components/new/patient';
@import './components/new/payment';
@import './components/new/record';


// general styles non-component specific
#pediatrix {
    width: 100%;
    overflow: hidden;
    font-family: "Roboto-Normal";
    @media(min-width: 768px) {
        height: 100vh;
    }
}

.error{
    color: red;
}

.bottom-top-borders{
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-top-style: solid !important;
    border-color: #2a2c331f !important;
    border-top-width: 1px !important;
}

.no-padding{
    padding: 0px !important;
}

.no-right-padding{
    padding-right: 0px !important;
}

.view-all{
    margin: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    display: block;
}

.quick-summary-container{
    .quick-summary-item{
        border-bottom-style: solid;
        padding: 10px 15px;
        border-bottom-width: 1px;
        border-color: #2a2c331f;
        .qsi-right{
            text-align: right;
        }
    }
}

.summary-container{
    .summary-headers{
        margin-bottom: 15px;
        padding: 30px 30px 10px 30px;
        border-color: #273D8A;
        border-bottom-width: 5px;
        border-bottom-style: solid;
    }
    .sh-top{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #8A8D97;
    }
    .sh-bottom{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #293661;
    }
    .summary-items{
        .item-created-at {
            padding-left: 15px;
        }
        .completed{
            background: #5DA327;
        }
        .pending{
            background: #D7A700;
        }
        .incomplete{
            background: #D92C2C;
        }
        .summary-item-label{
            text-align: center;
            height: 1.5em;
            color: white;
            font-weight: bold;
            padding-top: 3px;
            p {
                padding-right: 15px;
            }
        }
        .item-row-container {
            .row {
                a {
                    cursor: pointer;
                }
            }
            .summary-item{
                padding: 10px 30px 0px 30px;
                .item-header{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                }
                .item-desc{
                    font-style: normal;
                    font-size: 18px;
                    line-height: 21px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.custom-searchbar{
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    input{
        margin: 2px;
        margin-left: 10px;
        border: 0;
        background: #f8fafc;
        width: 80%;
    }
    input:focus{
        outline: none;
    }
}

.filter-by{
    font-size: 1.2em;
    span{
        margin-right: 15px;
    }
    a{
        margin: 10px 5px;
    }
}

.hollow-btn {
    background: transparent;
    color: #53639D;
    font-weight: bold;
    border-width: 2px;
    border-color: #53639D;
    font-size: 18px;
    &:hover, &:focus, &:active {
        background: #53639D !important;
        border-color: #53639D !important;
    }
}

// placing this here instead of the individual record components 
.viewMode, .editMode {
    @media(max-width: 768px) {
        padding: 10px 0px 50px 0px;
        .view {
            .view-edit {
                text-align: center;
                button {
                    width: 90%;
                }
            }
            .view-item {
                p {
                    font-size: 18px;
                }
                p:first-of-type {
                    margin-left: 20px;
                    font-weight: bold;
                    margin-bottom: 0px;
                    color: #293661;
                }
                p:nth-of-type(2) {
                    border: 0px;
                    border-bottom: 1px;
                    border-color: #dad5d5;
                    border-style: solid;
                    padding-left: 20px;
                    padding-bottom: 20px;
                }
            }
        }
    }
    @media(min-width: 768px) {
        form {
            padding: 10px 50px 50px 50px;
        }
    }
}