.main-body {
    margin-top: 125px;
}

// Original CSS and for Mobile considerations
.main-layout{
    position: fixed;
    width: 100%;
    z-index: 1;
    .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .layout-header{
        .layout-main-logo{
            background: #273D8A;
            img{
                margin: 0 auto;
                max-height: 10vh;
            }
        }
        .layout-nav{
            img {
                position: absolute;
                margin-top: .8em;
                margin-left: 20px;
            }
            background: #f8fafc;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
            h5{
                font-weight: bold;
                padding: 15px;
                color: #6A6A6A;
                width: 100%;
                text-align: center;
                letter-spacing: 0.035em;
                margin-bottom: 0;
            }
        }
    }
    .layout-sidebar{
        position: relative;
        .sidebar-hidden{
            left: -600px;
            transition: left 1s ease;
        }
        .sidebar-show{
            left: 0px;
            transition: left .5s ease;
        }
        .sidebar-container{
            z-index: 10;
            position: absolute;
            padding-top: 50px;
            border-right-width: .1px;
            border-right-color: #dad6d6;
            border-right-style: solid;
            background: white;
            height: 100vh;
            top: -125px;
            width: 80%;
            .sidebar-user-name{
                margin-bottom: 40px;
            }
            .sidebar-outter{
                font-weight: bold;
                padding-bottom: 0;
                padding-top: 0;
            }
            .sidebar-inner{
                font-weight: 100;
            }
        }
        ul{
            list-style: none;
            li{
                padding: 10px;
                list-style: none;
            }
        }
    }
}

//
@media(min-width: 768px) {
    .main-layout {
        position: relative; 
        .layout-header {
            .row {
                height: 80px;
                display: flex;
                align-items: center;
                img {
                    max-height: 80px;
                }
            }
        }
    }
    .main-body {
        margin-top: 0px;
        display: flex;
        & > div:first-of-type {
            width: 25%;
            max-width: 250px;
        }
        & > div:nth-of-type(2) {
            overflow-x: hidden;
        }
        &__contents {
            &--lower {
                height: calc(100vh - 120px);
                overflow-y: auto;
                @media(min-width: 768px) {
                    padding: 10px 6vw;
                }
            }
        }
    }
    .top-nav-desktop {
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
        padding: 0px 20px;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h5 {
            color: #6A6A6A;
            font-size: 18px;
            font-weight: bold;
            margin: 0px;
        } 
        .mode-edit:first-child,
        .mode-new:first-child {
            background: transparent;
            border-radius: 10px;
            border-color: #7896FF;
            font-weight: bold;
            color: black;
        }
        //edit button
        .mode-view:first-child {
            background: transparent;
            border: none;
        }
        & > .mode-view:nth-of-type(2) {
            background: transparent;
            border-color: #7896FF;
            border-color: #7896FF;
            color: black;
            font-weight: bold;
        }
        // save button
        .mode-edit, .mode-new {
            background: #A3D27E;
            border-color: #A3D27E;
            border-radius: 10px;
            color: white;
        }
    }
    .sideBar-desktop {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: calc(100vh - 80px);
        overflow-y: auto;
        padding-top: 15px;
        p {
            padding: 0px 15px;
            font-size: 18px;
            margin: 0px;
        }
        ul {
            padding: 0px;
            padding-top: 15px;
            list-style: none;
        }
        .sidebar-desktop__item {
            cursor: pointer;
            border-width: 0px 0px 1px 0px;
            border-color: #e1e2e3;
            border-style: solid;
            font-size: 14px;
            padding: 15px 15px;
            font-weight: bold;
            color: #293661;
            &:hover {
                color: white;
                background: #53639D;
            }
            &.sub{
                padding-left: 24px;
                color: #6C7B8A;
                svg {
                    margin-right: 4px;
                }
                &:hover {
                    color: white;
                    svg > path {
                        fill: white;
                    }
                }
            }
        }
        .active-nav {
            color: white !important;
            background: #53639D;
            &.sub {
                svg > path {
                    fill: white;
                }
            }
        }
    }
}
  